
@{
    ViewBag.Title = "NotFound";
}

<h2>Not Found</h2>

@using (Html.BeginForm())
{
    <div>
        <p>Sorry - but the support ticket you are looking for doesn't exist or was deleted.</p>
    </div>
}
